/*--- reset --- */
* {
  margin: 0;
  padding: 0%;
  background: border-box;
}
/*--- variables and setups initials --- */

:root {
  --header-heigth: 4.5rem;
  font-size: 100%; /*16px*/
  --hue: 159;
  --colorfont-body: hsla(0, 0%, 46%, 1);
  --color-title: hsl(var(--hue), 41%, 10%);
  --color-primary: hsl(var(--hue), 36%, 57%);
  --color-second: hsl(var(--hue), 365%, 88%);
  --background1: hsl(0, 0%, 98%);
  --background2: hsl(0, 0%, 100%);
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--background1);
  font: 400 1rem 'DM Sans', sans-serif;
}
section {
  padding: 5rem 0;
}
/*--- HEADER ---*/
.logo {
  color: var(--color-title);
  font: 700 1.3rem 'Poppins', sans-serif;
}
.logo span {
  color: var(--color-primary);
}
#initial_header {
  border-bottom: 1px solid #e4e4e4;
  position: fixed;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

nav {
  height: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center; /*pra usar o center terá que definir altura do propio box */
  justify-content: space-between;
}

/*header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
}
nav {
  background-color: var(--background1);
  usando o nav para pegar o box NAV
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
} */

/*--- HOME --- */
#home h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: hsla(0, 0%, 0%, 1);
  display: flex;
  justify-content: center;
}
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
img {
  width: 100%;
  height: auto;
  /*Faz com que se adapte a tela */
}
p {
  color: var(--colorfont-body);
}

#Home {
}
main {
  margin-top: var(--header-height);
}
