/* Cascating Stylesheet */
* {
  margin: 0;
}
html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsla(240, 9%, 89%, 1);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  display: grid;
  place-items: center;
}
main {
  background: url(images/background.svg);
  width: 375px;
  height: 812px;
}
.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}
#Name {
  margin-top: 1.5rem;
  color: var(--grey);
  font-size: 1.5rem;
}
a {
  margin-top: 0.25rem;
  text-decoration: none;
  color: var(--grey);
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}
p {
  margin-top: 2rem;
  color: var(--grey);
  font-size: 0.875rem;
}
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
